@charset "utf-8";

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$body-size: 12px;

$size-1: 2rem;
$size-2: 1.75rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1rem;
$size-6: 0.75rem;
$size-7: 0.5rem;

$primary: $blue;

$light: $black-ter;
$dark: $grey-lighter;

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

$background: $black-ter;

$border: $grey-darker;
$border-hover: $grey-dark;
$border-light: $grey-darker;
$border-light-hover: $grey-dark;

$text: $white-ter;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-lighter;

$druid: #FF7D0A;
$hunter: #A9D271;
$mage: #40C7EB;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #8787ED;
$warrior: #C79C6E;

$poor: #9D9D9D;
$common: #FFFFFF;
$uncommon: #1EFF00;
$rare: #0070DD;
$epic: #A335EE;
$legendary: #FF8000;

$custom-colors: (
  "druid": ($druid),
  "hunter": ($hunter),
  "mage": ($mage),
  "paladin": ($paladin),
  "priest": ($priest),
  "rogue": ($rogue),
  "shaman": ($shaman),
  "warlock": ($warlock),
  "warrior": ($warrior),

  "poor": ($poor),
  "common": ($common),
  "uncommon": ($uncommon),
  "rare": ($rare),
  "epic": ($epic),
  "legendary": ($legendary)
);

@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/animations";
@import "bulma/sass/utilities/mixins";
@import "bulma/sass/utilities/controls";

@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
