{% extends "base.html" %}

{% block title %}Blood Legion - {{ character }}{% endblock %}

{% block content %}

<div class="content">

<h1 class="title has-text-{{ character.get_cls_display|lower }}">{{ character }}</h1>
<p class="subtitle">{{ character.get_race_display }} {{ character.get_cls_display }}</p>

<p>
  {% if character.alt %}
  <strong>Main:</strong> {% include "project_blood_legion/character_link.html" with character=character.alt.member.main_character %}
    {% if character.alt.member.alt_set.count > 1 %}
    <br><strong>Alts:</strong>
      {% for alt in character.alt.member.alt_set.all %}
        {% if alt.character != character %}
          {% include "project_blood_legion/character_link.html" with character=alt.character %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if character.member %}
  <strong>Rank:</strong> {{ character.member.get_rank_display }}
  {% endif %}

  {% if character.member.alt_set.count %}
  <br><strong>Alts:</strong>
    {% for alt in character.member.alt_set.all %}
      {% include "project_blood_legion/character_link.html" with character=alt.character %}
    {% endfor %}
  {% endif %}
</p>

{% if reserves %}
<h2 class="title is-4">Reserves</h2>

{% for reserve in reserves %}
<p>
  <strong>{{ reserve.zone }}</strong></br>
  {% if reserve.item1 %}{% include "project_blood_legion/item_link.html" with item=reserve.item1 %}{% else %}None{% endif %}</br>
  Set: {% if reserve.item2 %}{% include "project_blood_legion/item_link.html" with item=reserve.item2 %}{% else %}None{% endif %}</br>
</p>

{% if reserve.form %}
<form action="{% url 'project_blood_legion:character_detail' character.id %}" method="post">
  {% csrf_token %}
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ reserve.form.item1.id_for_label }}" class="label">Item:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ reserve.form.item1 }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ reserve.form.item2.id_for_label }}" class="label">Item (Set):</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ reserve.form.item2 }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <input class="button is-success" type="submit" name="{{ reserve.prefix }}" value="Change">
    </div>
  </div>
</form>
{% endif %}
{% endfor %}
{% endif %}

{% if note or note_form %}
<h2 class="title is-4">Note</h2>

{% if note %}
  {{ note.text|safe }}
{% endif %}

{% if note_form %}
<form action="{% url 'project_blood_legion:character_detail' character.id %}" method="post">
  {% csrf_token %}
  <div class="field">
    <textarea class="textarea" placeholder="Include details about personal preferences." id="id_note-text" name="note-text"></textarea>
  </div>
  <div class="field">
    <input class="button is-success" type="submit" name="note" value="Change">
  </div>
</form>
{% endif %}

{% endif %}

</div>

<h2 class="title is-4">Items</h2>

{% if loot_set.count %}
<p><a href="?">By Name</a> <a href="?by-date">By Date</a></p>

<table class="table is-narrow">
  <thead>
    <tr>
      <th>Item</th>
      <th>Raid</th>
    </tr>
  </thead>
  <tbody>
    {% for loot in loot_set %}
    <tr>
      <td>{% include "project_blood_legion/item_link.html" with item=loot.item %}</td>
      <td>
        {% if loot.instance %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.instance.raid.id %}">{{ loot.instance.raid }}</a>
        {% elif loot.raid %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.raid.id %}">{{ loot.raid }}</a>
        {% else %}
        Unknown
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No loot.</p>
{% endif %}

{% endblock %}
