{% extends "base.html" %}

{% block content %}
<p>{{ character.get_race_display }} {{ character.get_cls_display }}</p>

{% if character.loot_set.count %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Item</th>
      <th>Raid</th>
    </tr>
  </thead>
  <tbody>
    {% for loot in character.loot_set.all %}
    <tr>
      <td>{% include "project_blood_legion/item_link.html" with item=loot.item %}</td>
      <td>{% if loot.raid %}<a href="{% url 'project_blood_legion:raid_detail' loot.raid.id %}">{{ loot.raid }}</a>{% else %}Unknown{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No loot.</p>
{% endif %}

{% endblock %}
