{% extends "base.html" %}

{% block content %}

{% if item.loot_set.count %}
<table class="table">
  <thead>
    <tr>
      <th>Character</th>
      <th>Raid</th>
    </tr>
  </thead>
  <tbody>
    {% for loot in item.loot_set.all %}
    <tr>
      <td><a href="{% url 'project_blood_legion:character_detail' loot.character.id %}">{{ loot.character }}</a></td>
      <td><a href="{% url 'project_blood_legion:raid_detail' loot.raid.id %}">{{ loot.raid }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>Never looted.</p>
{% endif %}

{% endblock %}
