{% extends "base.html" %}

{% block title %}Blood Legion - {{ item.name }}{% endblock %}

{% block content %}

<h1 class="title has-text-{{ item.get_quality_display|lower }}">{{ item.name }}</h1>

{% if item.loot_set.count %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Character</th>
      <th>Raid</th>
    </tr>
  </thead>
  <tbody>
    {% for loot in item.ordered_loot %}
    <tr>
      <td>
        {% if loot.character %}
        {% include "project_blood_legion/character_link.html" with character=loot.character %}
        {% else %}
        <span class="has-text-poor">Disenchant</span>
        {% endif %}
      </td>
      <td>
        {% if loot.instance %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.instance.raid.id %}">{{ loot.instance.raid }}</a>
        {% elif loot.raid %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.raid.id %}">{{ loot.raid }}</a>
        {% else %}
        Unknown
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>Never looted.</p>
{% endif %}

{% endblock %}
