{% extends "base.html" %}
{% block title %}Blood Legion - Loot{% endblock %}
{% block content %}
<h1 class="title">Loot</h1>

{% if classes %}
<table style="float:left; width:15%">
    <thead>
        <tr>
            <th>Class</th> 
        </tr>
    </thead>
    <tbody>
        <tr><td>
            <a class="has-text-priest has-text-weight-bold" 
                href="{% url 'project_blood_legion:loot_index' %}?zf={{ request.GET.zf }}&bf={{ request.GET.bf }}">All Classes</a>
        </td></tr>
    {% for cls in classes %}
    <tr><td>
        <a class="has-text-{{ cls.1|lower }} has-text-weight-bold" 
            href="{% url 'project_blood_legion:loot_index' %}?cf={{ cls.0 }}&zf={{ request.GET.zf }}&bf={{ request.GET.bf }}">{{ cls.1 }}</a>
    </td></tr>
    {% endfor %}
{% else %}
  <p>No classes exist.</p>
{% endif %}

{% if items %}
        <tr><td>&nbsp;</td></tr>
        <tr>
            <th>Quality</th> 
        </tr>
        <tr><td>
        <a class="has-text-weight-bold {% if 'rf' not in request.GET or request.GET.rf == '' %} has-text-priest {% endif %}"
            href="{% url 'project_blood_legion:loot_index' %}?zf={{ request.GET.zf }}&bf={{ request.GET.bf }}&cf={{ request.GET.cf }}">All</a>
        </td></tr>
    {% for item in items %}
        <tr><td>
        <a class="has-text-{{ item.1|lower }} has-text-weight-bold"
            href="{% url 'project_blood_legion:loot_index' %}?rf={{ item.0 }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}&bf={{ request.GET.bf }}">{{ item.1 }}</a>
        </td></tr>                
    {% endfor %}
{% else %}
  <p>No items exist.</p>
{% endif %}

{% if zones %}
        <tr><td>&nbsp;</td></tr>
        <tr>
            <th>Zone</th> 
        </tr>
        <tr><td>
        <a class="has-text-weight-bold {% if 'zf' not in request.GET or request.GET.zf == '' %} has-text-priest {% endif %}"
            href="{% url 'project_blood_legion:loot_index' %}?cf={{ request.GET.cf }}">All Zones</a>
        </td></tr>
    {% for zone in zones %}
        <tr><td>
        <a class="has-text-weight-bold {% ifequal request.GET.zf zone.id|stringformat:"s" %} has-text-priest {% endifequal %}"
            href="{% url 'project_blood_legion:loot_index' %}?zf={{ zone.id }}&cf={{ request.GET.cf }}">{{ zone.name }}</a>
        </td></tr>                
    {% endfor %}
{% else %}
  <p>No zones exist.</p>
{% endif %}

{% if bosses and 'zf' in request.GET and not request.GET.zf == '' %}
    <tr><td>&nbsp;</td></tr>
    <tr>
        <th>Boss</th> 
    </tr>
    <tr><td>
    <a class="has-text-weight-bold {% if 'bf' not in request.GET or request.GET.bf == '' %} has-text-priest {% endif %}"
        href="{% url 'project_blood_legion:loot_index' %}?cf={{ request.GET.cf }}&zf={{ request.GET.zf }}">All Bosses</a>
    </td></tr>        
    
        {% for boss in bosses %}
            {% ifequal boss.zone.id|stringformat:"s" request.GET.zf %}
                <tr><td>
                <a class="has-text-weight-bold {% ifequal request.GET.bf boss.id|stringformat:"s" %} has-text-priest {% endifequal %}"
                    href="{% url 'project_blood_legion:loot_index' %}?bf={{ boss.id }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}">{{ boss.name }}</a>
                </td></tr>                
            {% endifequal %}
        {% endfor %}
{% endif %}

</tbody>
</table>

{% if loots %}
<table class="table is-narrow" style="float:right; width:85%">
<thead>
    <tr>
        <th><a class="has-text-priest" href="{% url 'project_blood_legion:loot_index' %}?rf={{ request.GET.rf }}&bf={{ request.GET.bf }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}{% if request.GET.sort == 'la' %}&sort=ld{% else %}&sort=la{% endif %}">Item</a></th> 
        <th><a class="has-text-priest" href="{% url 'project_blood_legion:loot_index' %}?rf={{ request.GET.rf }}&bf={{ request.GET.bf }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}{% if request.GET.sort == 'ca' %}&sort=cd{% else %}&sort=ca{% endif %}">Character</a></th> 
        <th><a class="has-text-priest" href="{% url 'project_blood_legion:loot_index' %}?rf={{ request.GET.rf }}&bf={{ request.GET.bf }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}{% if request.GET.sort == 'ba' %}&sort=bd{% else %}&sort=ba{% endif %}">Boss</a></th> 
        <th><a class="has-text-priest" href="{% url 'project_blood_legion:loot_index' %}?rf={{ request.GET.rf }}&bf={{ request.GET.bf }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}{% if request.GET.sort == 'ia' %}&sort=id{% else %}&sort=ia{% endif %}">Instance</a></th>        
        <th><a class="has-text-priest" href="{% url 'project_blood_legion:loot_index' %}?rf={{ request.GET.rf }}&bf={{ request.GET.bf }}&zf={{ request.GET.zf }}&cf={{ request.GET.cf }}{% if request.GET.sort == 'da' %}&sort=dd{% else %}&sort=da{% endif %}">Date</a></th>  
    </tr>
</thead>
<tbody>
  {% for loot in loots %}
  <tr> 
    <td>{% include "project_blood_legion/item_link.html" with item=loot.item %}</td>
    <td>{% include "project_blood_legion/character_link.html" with character=loot.character %}</td>
    <td>{% include "project_blood_legion/boss_link.html" with boss=loot.boss %}</td>
    <td>
        {% if loot.instance %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.instance.raid.id %}">{{ loot.instance.raid }}</a>
        {% elif loot.raid %}
        <a href="{% url 'project_blood_legion:raid_detail' loot.raid.id %}">{{ loot.raid }}</a>
        {% else %}
        Unknown
        {% endif %}
    </td>
    <td>{{ loot.instance.raid.start|date:"M j Y" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
  <p>No loot exists.</p>
{% endif %}

{% endblock %}