{% extends "base.html" %}

{% block title %}Blood Legion - Members ({{ members.count }}){% endblock %}

{% block content %}

<h1 class="title">Members ({{ members.count }})</h1>

{% regroup members by main_character.get_cls_display as cls_list %}

{% for cls, member_list in cls_list %}
<ul>
  <li><strong>{{ cls }} ({{ member_list|length }})</strong></li>
  {% for member in member_list %}
  <li>
    {% include "project_blood_legion/character_link.html" with character=member.main_character %}
    {% if member.rank != 3 %}
    ({{ member.get_rank_display }})
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
