{% extends "base.html" %}

{% block title %}Blood Legion - Members{% endblock %}

{% block content %}

<h1 class="title">Members</h1>

{% if members %}
  <ul>
  {% for member in members %}
    {% ifchanged %}
    <li><strong>{{ member.main_character.get_cls_display }}</strong></li>
    {% endifchanged %}
  <li>{% include "project_blood_legion/character_link.html" with character=member.main_character %}</li>
  {% endfor %}
  </ul>
{% else %}
  <p>No members exist.</p>
{% endif %}

{% endblock %}
