{% if ordered_loot %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Item</th>
      <th>Character</th>
      <th>Boss</th>
    </tr>
  </thead>
  <tbody>
    {% for loot in ordered_loot %}
    <tr>
      <td>{% include "project_blood_legion/item_link.html" with item=loot.item %}</td>
      <td>
        {% if loot.character %}
        {% include "project_blood_legion/character_link.html" with character=loot.character %}
        {% else %}
        <span class="has-text-poor">Disenchant</span>
        {% endif %}
      </td>
      <td>{% if loot.boss %}{{ loot.boss.name }}{% else %}Unknown{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No loot.</p>
{% endif %}
