{% extends "base.html" %}

{% load tz %}

{% block title %}Blood Legion - {{ raid }}{% endblock %}

{% block content %}

<h1 class="title">{{ raid }}</h1>

<p>
  <strong>Start:</strong> {{ raid.start|timezone:"US/Eastern"|date:"l F j Y g:i A e" }}<br>
  <strong>End:</strong> {{ raid.end|timezone:"US/Eastern"|date:"l F j Y g:i A e" }}
</p>

{% for instance in instances %}
<h2 class="title is-4">{{ instance.name }}</h2>

<p>
  <strong>Scheduled Start:</strong> {{ instance.scheduled_start|timezone:"US/Eastern"|date:"l F j Y g:i A e" }}<br>
  <strong>Characters ({{ instance.characters.count }}):</strong>
  {% for character in instance.ordered_characters %}
    {% include "project_blood_legion/character_link.html" %}
  {% endfor %}
</p>

{% include "project_blood_legion/raid_loot_table.html" with ordered_loot=instance.ordered_loot %}

{% if instance.loot_form %}
<form action="{% url 'project_blood_legion:raid_detail' raid.id %}" method="post">
  {% csrf_token %}

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ instance.loot_form.item.id_for_label }}" class="label">Item:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ instance.loot_form.item }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ instance.loot_form.boss.id_for_label }}" class="label">Boss:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ instance.loot_form.boss }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ instance.loot_form.character.id_for_label }}" class="label">Character:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ instance.loot_form.character }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <input class="button is-success" type="submit" name="{{ instance.prefix }}" value="Add">
    </div>
  </div>
</form>
{% endif %}

{% endfor %}

{% if raid.uninstanced_ordered_loot %}
<h2 class="title is-4">Uninstanced</h2>

{% include "project_blood_legion/raid_loot_table.html" with ordered_loot=raid.uninstanced_ordered_loot %}
{% endif %}

{% endblock %}
