{% extends "base.html" %}

{% block title %}Blood Legion - {{ raid }}{% endblock %}

{% block content %}

<h1 class="title">{{ raid }}</h1>

{% for group in groups %}
<h2 class="title is-4">{{ group.name }}</h2>

{% include "project_blood_legion/raid_loot_table.html" with ordered_loot=group.ordered_loot %}

{% if group.loot_form %}
<form action="{% url 'project_blood_legion:raid_detail' raid.id %}" method="post">
  {% csrf_token %}

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ group.loot_form.item.id_for_label }}" class="label">Item:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ group.loot_form.item }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ group.loot_form.boss.id_for_label }}" class="label">Boss:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ group.loot_form.boss }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="{{ group.loot_form.character.id_for_label }}" class="label">Character:</label>
    </div>
    <div class="field-body">
      <div class="select">
      {{ group.loot_form.character }}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <input class="button is-success" type="submit" name="{{ group.prefix }}" value="Add">
    </div>
  </div>
</form>
{% endif %}

{% endfor %}

{% if raid.ungrouped_ordered_loot %}
<h2 class="title is-4">Ungrouped</h2>

{% include "project_blood_legion/raid_loot_table.html" with ordered_loot=raid.ungrouped_ordered_loot %}
{% endif %}

{% endblock %}
