{% extends "base.html" %}

{% block title %}Blood Legion - Raiders ({{ members.count }}){% endblock %}

{% block content %}

{% regroup members by main_character.get_cls_display as cls_list %}
<div class="box" style="float:left; clear: both; box-shadow:none; width:66%;">
<strong>Raiders ({{ members.count }})</strong>
<br>
{% for cls, member_list in cls_list %}
<div class="box" style="box-shadow:none; float:left; width: 20%;">
<ul>
  <li><strong>{{ cls }} ({{ member_list|length }})</strong></li>
  {% for member in member_list %}
  <li>    
    {% include "project_blood_legion/character_link.html" with character=member.main_character %}
    {% if member.rank != hide_rank %}
    [{{ member.get_rank_display }}]
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% if forloop.counter == 5 %}<br>{% endif %}
</div>
{% endfor %}
</div>

<br>

{% regroup alts by character.get_cls_display as cls_list %}
<div class="box" style="float:left; clear: both; box-shadow:none; width:66%;">
<strong>Alts ({{ alts.count }})</strong>
<br>
{% for cls, alt_list in cls_list %}
<div class="box" style="box-shadow:none; float:left; width: 20%;">
<ul>
  <li><strong>{{ cls }} ({{ alt_list|length }})</strong></li>
  {% for alt in alt_list %}
  <li>
    {% include "project_blood_legion/character_link.html" with character=alt.character %}
    ({% include "project_blood_legion/character_link.html" with character=alt.member.main_character %})
  </li>
  {% endfor %}
</ul>
{% if forloop.counter == 5 %}<br>{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
