{% extends "base.html" %}

{% block title %}Blood Legion - {% if show_members %}Raiders{% else %}Members{% endif %} ({{ members.count }}){% endblock %}

{% block content %}

<h1 class="title">{% if show_members %}Raiders{% else %}Members{% endif %} ({{ members.count }})</h1>
<p class="subtitle">{% if show_members %}<a href={% url 'project_blood_legion:member' %}>Members</a> {% endif %}<a {% if show_members %}href={% url 'project_blood_legion:alts' %}{% else %}href={% url 'project_blood_legion:member_alts' %}{% endif %}>Alts</a></p>


{% regroup members by main_character.get_cls_display as cls_list %}

{% for cls, member_list in cls_list %}
<ul>
  <li><strong>{{ cls }} ({{ member_list|length }})</strong></li>
  {% for member in member_list %}
  <li>
    {% if member.rank != hide_rank %}
    [{{ member.get_rank_display }}]
    {% endif %}
    {% include "project_blood_legion/character_link.html" with character=member.main_character %}
  </li>
  {% endfor %}
</ul>
{% if not forloop.last %}<br>{% endif %}
{% endfor %}

{% endblock %}
